<p-toast></p-toast>
<form [formGroup]="todoItemForm" (ngSubmit)="CreateTodoItem()">
  <div id="TodoFormWrapper">
    <div id="NameWrapper">
      <div id="LabelWrapper">
        <label for="Name">Name</label>
      </div>
      <div id="LabelInputWrapper">
        <input pInputText formControlName="Name" />
      </div>
    </div>
    <div id="IsCompleteWrapper">
      <div id="IsCompleteLabelWrapper">
        <label for="IsCompleteInput">{{
          todoItemForm.controls['IsComplete'].value ? 'Complete' : 'Incomplete'
        }}</label>
      </div>
      <p-inputSwitch
        formControlName="IsComplete"
        id="IsCompleteInput"
      ></p-inputSwitch>
    </div>
    <div id="SubmitButtonWrapper">
      <button
        type="submit"
        pButton
        label="Create"
        icon="pi pi-clone"
        class="ui-button ui-button-success ui-button-raised"
        [disabled]="!todoItemForm.valid"
      ></button>
    </div>
  </div>
</form>
<button
  type="button"
  pButton
  icon="pi pi-times"
  iconPos="right"
  class="ui-button ui-button-warning ui-button-raised"
  (click)="Clear()"
  label="Clear"
></button>
<div id="TodoItemTable">
  <p-table
    [columns]="tableColumns"
    [value]="todoItems"
    selectionMode="single"
    [(selection)]="selectedTodoItem"
    dataKey="Id"
    #todoTable
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>
          Toggle
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.type">
          <input
            *ngSwitchCase="'text'"
            [value]="
              todoTable.filters[col.field]
                ? todoTable.filters[col.field].value
                : ''
            "
            pInputText
            type="text"
            (input)="
              todoTable.filter($event.target.value, col.field, 'contains')
            "
          />
          <p-dropdown
            *ngSwitchCase="'boolean'"
            #booleanDropDown
            [options]="booleanOptions"
            [style]="{ width: '100%' }"
            appendTo="body"
            (onChange)="todoTable.filter($event.value, col.field, 'equals')"
          ></p-dropdown>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todoItem let-columns="columns">
      <tr [pSelectableRow]="todoItem">
        <td *ngFor="let col of columns" [ngSwitch]="col.type">
          <span *ngSwitchCase="'text'"> {{ todoItem[col.field] }}</span>
          <span *ngSwitchCase="'boolean'">
            {{ todoItem[col.field] ? 'Complete' : 'Incomplete' }}
          </span>
        </td>
        <td>
          <div class="TableButtonWrapper">
            <button
              pButton
              type="button"
              icon="pi pi-gear"
              class="ui-button ui-button-raised ui-button-secondary"
              (click)="ToggleTodoItem(todoItem)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<router-outlet></router-outlet>
