<div class="row">
  <div class="col-md-4">
    <app-product-list
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (checked)="checkChanged($event)"
      (initializeNewProdcut)="newProduct()"
      (selected)="productSelected($event)"
    ></app-product-list>
  </div>
  <div class="col-md-8">
    <app-product-edit
      [product]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      (clearCurrent)="clearProduct()"
      (update)="updateProduct($event)"
      (delete)="deleteProduct($event)"
      (create)="saveProduct($event)"
    ></app-product-edit>
  </div>
</div>
